<div class='landing-page-outside-container'>
    <header>
        <div class='header-content'>
            <h3>Welcome to Stat Tracker!</h3>
       
            <p>Easily track your season statistics.</p>

            <button>Register</button>
        </div>
    </header>

    <!-- <section class='helper'>
        <div class='steps'>
            <span class='number'>1.</span>
            <span>Create your account</span>
        </div>

        <div class='steps'>
            <span class='number'>2.</span>
            Create your season
        </div>
        <div class='steps'>
            <span class='number'>3.</span>
            Add the teams and players
        </div>
        <div class='steps'>
            <span class='number'>4.</span>
            Easily track your season statistics
        </div>
    </section> -->

    <section class='screenshot-section'>
        <p style="color:white">2 screenshots will be in here</p>
    </section>

    <section class='picture-section'>
        <img class='smaller-image' src='../../assets/images/on_deck_circle.jpg' />
        <img class='smaller-image' src='../../assets/images/outside_stadium_shot.jpg' />
        <img class='smaller-image' src='../../assets/images/watering_field.jpg' />
        <img class='smaller-image' src='../../assets/images/wiffle_ball.jpg' />
        <img class='smaller-image' src='../../assets/images/batter.jpg' />
        <img class='smaller-image' src='../../assets/images/pitcher.jpg' />
    </section>
</div>