:host {
    width: 100%;
    font-size: 2rem;
}

.landing-page-outside-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    background-position: center;
    background-image: url(../../assets/images/landing_page_overlay.jpg);
    background-size: cover;
    width: 100%;
    background-repeat: no-repeat;
    text-align: center;
}

.header-content {
    text-align: center;
    width: 100%;
    background-color: rgba(43, 43, 43, 0.622);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 100px 12%;
    text-shadow: 2px 2px 4px black, 2px 0px 4px black, 0px 2px 4px black, 0 0 8px #333;
    color: white;
}

.landing-page-overlay {
    width: 100%;
}

.smaller-image {
    width: 48%;
    margin: 1%;
}

h3 {
    font-size: 4rem;
    margin-bottom: 25px;
}

button {
    background-color: #041e42;
    color: white;
    font-size: 1.75rem;
    border-radius: 5px;
    margin-top: 35px;
    padding: 12px 30px;
    border: 2px solid white;
    width: 200px;
}

button:hover {
    background-color: white;
    color: #041e42;
    font-weight: 600;
    border: 2px solid #041e42;
}

.picture-section {
    background-color: #422804;
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

/* .helper {
    width: 100%;
    min-height: 250px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.steps {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 15px;
} */

.screenshot-section {
    background-color: #350442;
    width: 100%;
    height: 400px;
    margin: 20px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

span {
    font-size: 1.7rem;
}

.number {
    color: #041e42;
}

@media (max-width: 600px) {
    .smaller-image {
        width: 85%;
    }
    .picture-section {
        padding-top: 1%;
        padding-bottom: 1%;
    }
}

@media (max-width: 500px) {
    .smaller-image {
        width: 95%;
    }
}

@media (max-width: 400px) {
    .smaller-image {
        width: 99%;
    }
}
