<app-navbar></app-navbar>
<div class='team-details-container'>
    <app-team-sidebar></app-team-sidebar>
    <div class='team-details-inside-main-container'>
        <ng-template [ngIf]="delete">
            <p>Are you sure you want to delete this team?</p>
            <button class='edit-button' (click)='deleteTeam()'>Yes</button>
            <button class='delete-button' (click)='toggleDelete()'>No</button>
        </ng-template>

        <ng-template [ngIf]="!delete">
            <ng-template [ngIf]="edit">
                <!-- teamName, sport, wins, losses, ties, pointsScored, pointsAgainst, podiums, top5Finishes, top10Finishes -->
                <div class='placement-div'><span>Team Name: &nbsp;</span> <input type='text' matInput [(ngModel)]="team['teamName']" placeholder='Team Name' /></div>
                <div class='placement-div'><span>Sport: &nbsp;</span> <input type='text' matInput [(ngModel)]="team['sport']" placeholder='Sport' /></div>
                <div class='placement-div'><span>Wins: &nbsp;</span> <input type='number' matInput [(ngModel)]="team['wins']" placeholder='Wins' /></div>
                <div class='placement-div'><span>Losses: &nbsp;</span><input type='number' matInput [(ngModel)]="team['losses']" placeholder='Losses' /></div>
                <div class='placement-div'><span>Ties: &nbsp;</span> <input type='number' matInput [(ngModel)]="team['ties']" placeholder='Ties' /></div>
                <div class='placement-div'><span>Points Scored: &nbsp;</span><input type='number' matInput [(ngModel)]="team['pointsScored']" placeholder='Points Scored' /></div>
                <div class='placement-div'><span>Points Against: &nbsp;</span> <input type='number' matInput [(ngModel)]="team['pointsAgainst']" placeholder='Points Against' /></div>
                <div class='placement-div'><span>Podiums: &nbsp;</span><input type='number' matInput [(ngModel)]="team['podiums']" placeholder='Podiums' /></div>
                <div class='placement-div'><span>Top 5 Finishes: &nbsp;</span><input type='number' matInput [(ngModel)]="team['top5Finishes']" placeholder='Top 5 Finishes' /></div>
                <div class='placement-div'><span>Top 10 Finishes: &nbsp;</span><input type='number' matInput [(ngModel)]="team['top10Finishes']" placeholder='Top 10 Finishes' /></div>
                <button class='edit-button' (click)='editTeam()'>Finish Edit</button>
                <button class='delete-button' (click)='toggleDelete()'>Delete Team</button>
            </ng-template>

            <ng-template [ngIf]="!edit">
                <button (click)='toggleEdit()'>Edit</button>
                <p class='info-text'>Team Name: {{ team['name'] }}</p>
                <ng-template [ngIf]="teamContainsTie">
                    <span class="center-span">Record</span>
                    <span class="center-span">{{ team['wins'] }} - {{ team['losses'] }} - {{ team['ties'] }}</span>
                </ng-template>
                <ng-template [ngIf]="!teamContainsTie">
                    <span class="center-span">Record</span>
                    <span class="center-span">{{ team['wins'] }} - {{ team['losses'] }}</span>
                </ng-template>
                <p class='info-text'>Players:</p>
                <ul>
                    <li *ngFor="let player of playersInSeason" routerLink="/player/details" (click)="grabPlayerId(player.id)">{{ player['id'] }}</li>
                </ul>
                <button class='delete-button' (click)='toggleDelete()'>Delete Team</button>
            </ng-template>
        </ng-template>
    </div>
</div>
