<app-navbar></app-navbar>
<div class="season-teams-container">
    <app-season-sidebar></app-season-sidebar>
    <div class="season-teams-inside-main-container">
        <ng-template [ngIf]="lessTeams">
            <p class="help-text">Your season team count does not match the current amount of created teams. Please add {{ difference }} more teams.</p>
            <div *ngFor="let team of addedTeams" class='added-teams-div'>
                <input type="text" [(ngModel)]="team.name" />
            </div>
            <ng-template [ngIf]="teamNameError">
                <div>
                    <p class="error-text">Team names can not be blank!</p>
                </div>
            </ng-template>
            <div class="button-container">
                <button class="add-teams-button" (click)="addTeams()" [disabled]='disabledButton'>Add Teams</button>
            </div>
        </ng-template>
        <ng-template [ngIf]="!lessTeams">
            <ng-template [ngIf]="extraTeams">
                Need to Delete Teams
            </ng-template>
            <ng-template [ngIf]="!extraTeams">
                <ng-template [ngIf]="equalTeams">
                    <div *ngFor="let team of teams" class="team-div">
                        ID: {{ team['id'] }} Name: {{ team['teamName'] }} Wins: {{ team['wins'] }} Losses: {{ team['losses'] }} Ties: {{ team['ties'] }} Runs For: {{ team['pointsScored'] }} Runs
                        Against: {{ team['pointsAgainst'] }}
                    </div>
                    <p>season-teams works!</p>
                </ng-template>
                <ng-template [ngIf]="!equalTeams">
                    <p>Error.  Please try again later.</p>
                </ng-template>
            </ng-template>
        </ng-template>
    </div>
</div>
