<app-navbar></app-navbar>
<div class='season-standings-container'>
    <app-season-sidebar></app-season-sidebar>
    <div class='season-standings-inside-main-container'>
        <table>
            <tr>
              <th>Team</th>
              <th>Wins</th>
              <th>Losses</th>
              <th>Ties</th>
              <th>Runs For</th>
              <th>Runs Against</th>
              <th>Differential</th>
            </tr>
            <tr>
              <td><code>AngularJS</code></td>
              <td>Routing</td>
              <td>Fast</td>
            </tr>
            <tr>
              <td><code>Angular v2</code></td>
              <td>Routing</td>
              <!-- can use markdown too; remember blank lines -->
              <td>
          
                *Faster*
          
              </td>
            </tr>
            <tr>
              <td><code>Angular v4</code></td>
              <td>Routing</td>
              <td>
          
                **Fastest :)**
          
              </td>
            </tr>
          </table>
        <p>season-standings works!</p>
    </div>
</div>