<ng-template [ngIf]="token">
    <div class="container">
        <div class="hamburger-div">
            <img class="hamburger-icon" src="../../assets/images/hamburger_icon.png" (click)="activateDropdown()" />
        </div>

        <div class="logo">
            <p>{{ title }}</p>
        </div>

        <nav>
            <button class="nav-button" routerLink="/dashboard">
                Home
            </button>
            <button class="nav-button" routerLink="/userSettings">
                Settings
            </button>
            <button class="nav-button" (click)='logoutUser()'>
                Logout
            </button>
        </nav>
    </div>

    <ng-template [ngIf]="activeDropdown">
        <div class="dropdown">
            <ul>
                <li>
                    <h1 class="close" (click)="closeDropdown()">X</h1>
                </li>
                <li>
                    <button routerLink="/dashboard" class="dropdown-button" (click)="closeDropdown()">
                        Home
                    </button>
                </li>
                <li>
                    <button routerLink="/userSettings" class="dropdown-button" (click)="closeDropdown()">
                        Settings
                    </button>
                </li>
                <li>
                    <button routerLink="/welcome" class="dropdown-button" (click)="logoutUser()">
                        Logout
                    </button>
                </li>
                <ng-template [ngIf]="dashboard">
                    <li class='title-li'>Your Seasons</li>
                    <div *ngFor="let season of seasonsInfo">
                        <li>
                            <button routerLink='/season/details' class="dropdown-button" (click)=grabSeasonId(season.id)>
                                {{ season['name'] }}
                            </button>
                        </li>
                    </div>
                </ng-template>
                <ng-template [ngIf]="seasonMode">
                    <li class='title-li'>{{ season['name'] }}</li>
                    <li>
                        <button class="dropdown-button" routerLink="/season/details" >Details</button>
                    </li>
                    <li>
                        <button class="dropdown-button" routerLink="/season/teams">Teams</button>
                    </li>
                    <li>
                        <button class="dropdown-button" routerLink="/season/standings" >Standings</button>
                    </li>
                    <li>
                        <button class="dropdown-button" routerLink="/season/schedule">Schedule</button>
                    </li>
                </ng-template>
                <ng-template [ngIf]="teamMode">
                    <!-- Insert Team Sidebar options here -->
                </ng-template>
            </ul>
        </div>
    </ng-template>
</ng-template>

<ng-template [ngIf]="!token">
    <div class="container">
        <div class="hamburger-div">
            <img class="hamburger-icon" src="../../assets/images/hamburger_icon.png" (click)="activateDropdown()" />
        </div>

        <div class="logo">
            <p>{{ title }}</p>
        </div>

        <nav>
            <button class="nav-button" routerLink="/welcome">
                Home
            </button>
            <button class="nav-button" routerLink="/login">
                Login
            </button>
            <button class="nav-button" routerLink="/register">
                Register
            </button>
        </nav>
    </div>

    <ng-template [ngIf]="activeDropdown">
        <div class="dropdown">
            <ul>
                <li>
                    <h1 class="close" (click)="closeDropdown()">X</h1>
                </li>
                <li>
                    <button routerLink="/welcome" class="dropdown-button" (click)="closeDropdown()">
                        Home
                    </button>
                </li>
                <li>
                    <button routerLink="/login" class="dropdown-button" (click)="closeDropdown()">
                        Login
                    </button>
                </li>
                <li>
                    <button routerLink="/register" class="dropdown-button" (click)="closeDropdown()">
                        Register
                    </button>
                </li>
            </ul>
        </div>
    </ng-template>
</ng-template>
