<app-navbar></app-navbar>
<div class='user-settings-container'>
    <div class='user-settings-inside-main-container'>
        <ng-template [ngIf]="delete">
            <p>Are you sure you want to delete your account?  This action can not be undone!</p>
            <button class='edit-button' (click)='deleteAccount()'>Yes</button>
            <button class='delete-button' (click)='toggleDelete()'>No</button>
        </ng-template>

        <ng-template [ngIf]="!delete">
            <!-- <ng-template [ngIf]="edit">
                <div class='placement-div'><span>Season Name: &nbsp;</span> <input type='text' matInput [(ngModel)]="season['name']" placeholder='Season Name' /></div>
                <div class='placement-div'><span>Number of Teams: &nbsp;</span> <input type='number' matInput [(ngModel)]="season['teamCount']" placeholder='Number of Teams' /></div>
                <div class='placement-div'><span>Games per Team: &nbsp;</span><input type='number' matInput [(ngModel)]="season['gameCount']" placeholder='Games per Team' /></div>
                <button class='edit-button' (click)='editSeason()'>Finish Edit</button>
                <button class='delete-button' (click)='toggleDelete()'>Delete Season</button>
            </ng-template> -->
    
            <ng-template [ngIf]="!edit">
                <button (click)='toggleEdit()'>Edit</button>
                <p class='info-text'>Season Name: 0</p>
                <p class='info-text'>Number of Teams: 0</p>
                <p class='info-text'>eam: 0</p>
                <p class='info-text'>t:</p>
                <button class='delete-button' (click)='toggleDelete()'>Delete User</button>
            </ng-template>
        </ng-template>
        <p>user-settings works!</p>
    </div>
</div>