<app-navbar></app-navbar>
<div class='user-settings-container'>
    <div class='user-settings-inside-main-container'>
        <ng-template [ngIf]="delete">
            <p>Are you sure you want to delete your account?  This action can not be undone!</p>
            <button class='edit-button' (click)='deleteAccount()'>Yes</button>
            <button class='delete-button' (click)='toggleDelete()'>No</button>
        </ng-template>

        <ng-template [ngIf]="!delete">
            <ng-template [ngIf]="edit">
                <div class='placement-div'><span>Email: &nbsp;</span> <input type='text' matInput [(ngModel)]="userInfo['email']" placeholder='Email' /></div>
                <div class='placement-div'><span>Username: &nbsp;</span> <input type='text' matInput [(ngModel)]="userInfo['username']" placeholder='Username' /></div>
                <div class='placement-div'><span>First Name: &nbsp;</span><input type='text' matInput [(ngModel)]="userInfo['firstName']" placeholder='First Name' /></div>
                <div class='placement-div'><span>Last Name: &nbsp;</span><input type='text' matInput [(ngModel)]="userInfo['lastName']" placeholder='Last Name' /></div>
                <div class='placement-div'><span>Phone: &nbsp;</span><input type='number' matInput [(ngModel)]="userInfo['phone']" placeholder='Phone' /></div>
                <ng-template [ngIf]="changePassword">
                    <div class='placement-div'><span>New Password: &nbsp;</span><input type='text' matInput [(ngModel)]="newPassword" placeholder='New Password' /></div>
                    <div class='placement-div'><span>Confirm Password: &nbsp;</span><input type='text' matInput [(ngModel)]="confirmPassword" placeholder='Confirm Password' /></div>
                </ng-template>
                <button class='change-password-button' (click)='toggleChangePassword()'>Change Password</button>
                <button class='edit-button' (click)='editUser()'>Finish Edit</button>
                <button class='delete-button' (click)='toggleDelete()'>Delete User</button>
            </ng-template>
    
            <ng-template [ngIf]="!edit">
                <button (click)='toggleEdit()'>Edit</button>
                <p class='info-text'>Email: {{ userInfo['email'] }}</p>
                <p class='info-text'>Username: {{ userInfo['username'] }}</p>
                <p class='info-text'>First Name: {{ userInfo['firstName'] }}</p>
                <p class='info-text'>Last Name: {{ userInfo['lastName'] }}</p>
                <p class='info-text'>Phone: {{ userInfo['phone'] }}</p>
                <button class='delete-button' (click)='toggleDelete()'>Delete User</button>
            </ng-template>
        </ng-template>
    </div>
</div>