<app-navbar></app-navbar>
<div class="create-season-outside-container">
    <div class="create-season-inside-container">
        <p>Create a new season</p>
        <ng-template [ngIf]="!step1">
            <ng-template [ngIf]="!step2">
                <ng-template [ngIf]="!step3">
                    <ng-template [ngIf]="!step4">
                        <p class="help-text">Add the season name, number of teams, and number of games each team will play below</p>
                        <input type="text" matInput [(ngModel)]="name" placeholder="Season Name" />
                        <ng-template [ngIf]="nameError">
                            <div>
                                <p class="error-text">Your Season Name can not be blank!</p>
                            </div>
                        </ng-template>
                        <input type="number" matInput [(ngModel)]="teamCount" placeholder="Number of Teams" />
                        <input type="number" matInput [(ngModel)]="gameCount" placeholder="Games per Team" />

                        <div class="button-container-solo">
                            <button class="next-button" (click)="continueToStep1()">Next</button>
                        </div>
                    </ng-template>
                    <ng-template [ngIf]="step4"> Error </ng-template>
                </ng-template>
                <ng-template [ngIf]="step3"> Error </ng-template>
            </ng-template>
            <ng-template [ngIf]="step2"> Error </ng-template>
        </ng-template>
        <ng-template [ngIf]="step1">
            <ng-template [ngIf]="!step2">
                <ng-template [ngIf]="!step3">
                    <ng-template [ngIf]="!step4">
                        <select class="form-control" id="differentSports" [(ngModel)]="sport">
                            <option *ngFor="let sport of differentSports" [value]="sport">{{ sport }}</option>
                        </select>
                        <div class="button-container">
                            <button class="back-button" (click)="goBackToStep0()">Back</button>
                            <button class="next-button" (click)="continueToStep2()">Next</button>
                        </div>
                    </ng-template>
                    <ng-template [ngIf]="step4"> Error </ng-template>
                </ng-template>
                <ng-template [ngIf]="step3"> Error </ng-template>
            </ng-template>
            <ng-template [ngIf]="step2">
                <ng-template [ngIf]="step3">
                    <ng-template [ngIf]="!step4">
                        <p class="help-text">Are these team names correct?</p>
                        <div *ngFor="let team of teams">
                            <p class="team-text">Team {{ team.teamNumber }}: {{ team.name }}</p>
                        </div>
                        <div class="button-container">
                            <button class="back-button" (click)="goBackToStep2()">Back</button>
                            <button class="next-button" (click)="continueToStep4()">Next</button>
                        </div>
                    </ng-template>
                    <ng-template [ngIf]="step4">
                        <p class="help-text">Finalize season settings below</p>
                        <p class="season-text">Season Name: {{ name }}</p>
                        <p class="season-text">Number of Teams: {{ teamCount }}</p>
                        <p class="season-text">Games per Team: {{ gameCount }}</p>
                        <div class="button-container">
                            <button class="back-button" (click)="goBackToStep3()">Back</button>
                            <button class="next-button" (click)="finalize()" [disabled]="disabledButton">Finalize</button>
                        </div>
                    </ng-template>
                </ng-template>
                <ng-template [ngIf]="!step3">
                    <p class="help-text">Add the names for each team below</p>
                    <div *ngFor="let team of teams">
                        <input type="text" [(ngModel)]="team.name" />
                    </div>
                    <ng-template [ngIf]="teamNameError">
                        <div>
                            <p class="error-text">Team names can not be blank!</p>
                        </div>
                    </ng-template>
                    <div class="button-container">
                        <button class="back-button" (click)="goBackToStep1()">Back</button>
                        <button class="next-button" (click)="continueToStep3()">Next</button>
                    </div>
                </ng-template>
            </ng-template>
        </ng-template>
    </div>
</div>
