:host {
    width: 100%;
    font-size: 2.0rem;
}

.dashboard-outside-container {
    width: 100%;
    min-height: calc(100vh - 55px);
    display: flex;
}

.dashboard-inside-main-container {
    padding: 5px;
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.create-season-div {
    border: 2px solid black;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    padding: 5px;
    align-items: center;
    margin-bottom: 25px;
}

.create-season-button {
    margin-top: 20px;
    margin-bottom: 5px;
    background-color: #041e42;
    color: white;
    border-radius: 5px;
    height: 45px;
    width: 175px;
    font-size: 1.45rem;
    border: none;
}

.create-season-button-disabled {
    margin-top: 20px;
    margin-bottom: 5px;
    background-color: grey;
    color: black;
    border-radius: 5px;
    height: 45px;
    width: 175px;
    font-size: 1.45rem;
    border: none;
}

.top-label {
    width: 100%;
    padding-left: 15px;
}

.spacing-div {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 10px;
}